In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("C://Users//Yashwanth//Downloads//file (2).csv")

In [5]:
df.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [7]:
df.shape

(65535, 15)

In [9]:
#Removing the columns that contains missing values
df.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [11]:
df.drop(columns='country_name', inplace=True)

In [13]:
df.isnull().sum()

stop_date                 0
stop_time                 0
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [15]:
df.drop(columns='search_type', inplace=True)

In [23]:
print(df.dtypes)

stop_date              object
stop_time              object
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
dtype: object

In [29]:
df['driver_gender'].fillna(df['driver_gender'].mode()[0], inplace=True)
df['driver_race'].fillna(df['driver_race'].mode()[0], inplace=True)
df['violation_raw'].fillna(df['violation_raw'].mode()[0], inplace=True)
df['violation'].fillna(df['violation'].mode()[0], inplace=True)
df['stop_duration'].fillna(df['stop_duration'].mode()[0], inplace=True)
df['is_arrested'].fillna(df['is_arrested'].mode()[0], inplace=True)
df['stop_outcome'].fillna(df['stop_outcome'].mode()[0], inplace=True)
df['driver_age_raw'].fillna(df['driver_age_raw'].mean(), inplace=True)
df['driver_age'].fillna(df['driver_age'].mean(), inplace=True)

C:\Users\Yashwanth\AppData\Local\Temp\ipykernel_12008\676173580.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['violation'].fillna(df['violation'].mode()[0], inplace=True)
C:\Users\Yashwanth\AppData\Local\Temp\ipykernel_12008\676173580.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['driver_age_raw'].fillna(df['driver_age_raw'].mean(), inplace=True)
C:\Users\Yashwanth\AppData\Local\Temp\ipykernel_12008\676173580.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['driver_age'].fillna(df['driver_age'].mean(), inplace=True)

In [31]:
df.isnull().sum()

stop_date             0
stop_time             0
driver_gender         0
driver_age_raw        0
driver_age            0
driver_race           0
violation_raw         0
violation             0
search_conducted      0
stop_outcome          0
is_arrested           0
stop_duration         0
drugs_related_stop    0
dtype: int64

In [35]:
#For speeding were Men or women stopped more often
df[df.violation== "Speeding"].driver_gender.value_counts()

driver_gender
M    29578
F    11686
Name: count, dtype: int64

In [37]:
#Does the gender affect who gets searched during a stop
df.groupby('driver_gender').search_conducted.sum()

driver_gender
F     366
M    2113
Name: search_conducted, dtype: int64

In [41]:
#What is the mean stop_duration
df['stop_duration']=df['stop_duration'].map({'0-15 Min' : 7.5,'16-30 Min':24,'30+ Min':45})

In [43]:
df

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.000000,20.000000,White,Speeding,Speeding,False,Citation,False,7.5,False
1,1/18/2005,8:15,M,1965.000000,40.000000,White,Speeding,Speeding,False,Citation,False,7.5,False
2,1/23/2005,23:15,M,1972.000000,33.000000,White,Speeding,Speeding,False,Citation,False,7.5,False
3,2/20/2005,17:15,M,1986.000000,19.000000,White,Call for Service,Other,False,Arrest Driver,True,24.0,False
4,3/14/2005,10:00,F,1984.000000,21.000000,White,Speeding,Speeding,False,Citation,False,7.5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,12/6/2012,17:54,F,1987.000000,25.000000,White,Speeding,Speeding,False,Citation,False,7.5,False
65531,12/6/2012,22:22,M,1954.000000,58.000000,White,Speeding,Speeding,False,Warning,False,7.5,False
65532,12/6/2012,23:20,M,1985.000000,27.000000,Black,Equipment/Inspection Violation,Equipment,False,Citation,False,7.5,False
65533,12/7/2012,0:23,M,1967.791106,34.148984,White,Speeding,Speeding,False,Citation,False,7.5,False
65534,12/7/2012,0:30,F,1985.000000,27.000000,White,Speeding,Speeding,False,Citation,False,7.5,False

In [45]:
df['stop_duration'].mean()

11.897022919400616

In [ ]:
#Compare the age distribution for each v